body {
  background: #f9e5da
}

#list {
  word-wrap: normal;
}

.category {
  margin-bottom: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  display: inline;
}

.link-line {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-style: italic;
}

.link {
  font-style: normal;
}

.Cat-Biz {
  color: white;
  background-color: red;
}
.Cat-Des {
  color: white;
  background-color: blue;
}
.Cat-Prod {
  color: white;
  background-color: green;
}
.Cat-Indie {
  color: black;
  background-color: yellow;
}
.Cat-Prog {
  color: white;
  background-color: pink;
}
.Cat-Art {
  color: white;
  background-color: purple;
}
.Cat-Audio {
  color: white;
  background-color: orange;
}